---
title: About Goldydocs
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About The Author" image_anchor="bottom" height="full" >}}

<p class="lead mt-5">playing in the clouds.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
Ric Harvey is a seasoned architect, having been in the industry for almost 20 years. Starting as a Linux system administrator he’s worked in many verticals such as fintech, new media, and TV, e-commerce, and ISV. He is also a former Amazonian and held the position of Technical Evangelist for almost 3 years. He has a love of building things and using them in ways they were never designed for to get a true understanding of how they work. He is also a self-confessed fan of S3 and its extensibility.
He’s also a proud Dad of two boys and Husband to an amazing wife who has supported him throughout the creation of this book. If he gets spare time he enjoys inventing ideas especially in the eco space or can be found strumming the guitar.
{{% /blocks/lead %}}


{{< blocks/section >}}

{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/ric__harvey" %}}
Feel free to follow me and reach out on twitter.
{{% /blocks/feature %}}

{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}

{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-git-alt" title="S3redirect" url="https://github.com/richarvey/s3redirect" %}}
"A Simple Databaseless" URL Shortener [Pull Request](https://github.com/richarvey/s3redirect/pulls) contributions workflow on **GitHub**. 
{{% /blocks/feature %}}

{{< /blocks/section >}}
