+++
title = "TheWellArchitectedGuideToS3"
linkTitle = "TheWellArchitectedGuideToS3"

+++

<br/>
{{< blocks/cover title="The Well-Architected Guide to S3!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		HTML <i class="fab fa-html5 ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		PDF <i class="fas fa-file-pdf ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		e-book <i class="fas fa-book-open ml-2 "></i>
	</a>
	<p class="lead mt-5">Get to know the ins and outs of Amazon S3</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Dedicated to Claire:<br/>
“To my beautiful wife, who helps me stand when I’m weak and stands by me when I’m strong”
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-aws" title="Powered By AWS" %}}
Built by the AWS community for the community, and undert a CC license.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/richarvey/thewellarchitectedguidetos3" %}}
For fixes and improvements please do a [Pull Request](https://github.com/richarvey/thewellarchitectedguidetos3/pulls) contributions workflow on **GitHub**. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/ric__harvey" %}}
Feel free to follow me and reach out on twitter.
{{% /blocks/feature %}}

{{< /blocks/section >}}

